{
    font-family:arial, helvetica, sans-serif;
    font-size: 16px;
}

body{
    background-color: rgb(from color r g b);

}

main`{
    background-color: white;
    widht: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px black:
}